header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 37px 48px;
  position: relative;
  background-color: var(--background-tertiary-color);
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

.menu-navigation {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.menu-list {
  list-style: none;
  font-weight: var(--menu-text-weight);
  margin-left: 20px;
}

.menu-list li {
  margin-bottom: 16px;
}

.menu-list li a {
  color: var(--text-secondary-color);
  text-decoration: none;
}